langchain
langgraph
langchain-community
langchain-google-genai
langchain-groq
langchain-chroma
langchain-postgres
langchain-text-splitters
psycopg[binary]

fastapi
uvicorn
python-multipart

chromadb

python-dotenv
pydantic
pydantic-settings

pypdf
python-docx
unstructured
markdown

sentence-transformers
numpy
pandas

rank-bm25
redis

deepeval

loguru
rich
pytest